body {
  font-family: arial, verdana, helvetica, sans-serif;
}

img#lens {
  width: 200px;
}

img#irises {
  max-width: 80%;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table.asset-tables {
  width: 80%; 
}

table.asset-tables img {
  max-height: 200px;
}