h1 {
  color:black;
}

p {
  color: black;
}

img#lens {
  width: 200px;
}

img#irises {
  max-width: 100%;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table.asset-tables {
  width: 100%; 
}

table.asset-tables img {
  max-height: 200px;
}